In [1]:
from pandas import DataFrame as df #导入Dataframe

In [2]:
list=[['张飞',68,65,30],['关羽',95,76,98],['刘备',98,86,88],['典韦',90,88,87],['许褚',80,90,90]]  #创建数据
df_data=df(list,columns=('姓名','语文','数学','英语'))  #创建Dataframe
df_data

   姓名  语文  数学  英语
0  张飞  68  65  30
1  关羽  95  76  98
2  刘备  98  86  88
3  典韦  90  88  87
4  许褚  80  90  90

In [3]:
df_data['语文'].mean()  #语文平均成绩

86.2

In [4]:
df_data['语文'].min()  #语文最小成绩

68

In [5]:
df_data['语文'].max()  #语文最大成绩

98

In [6]:
df_data['语文'].std()  #语文标准差

12.255610959882823

In [7]:
df_data['语文'].var()  #语文方差

150.2

In [8]:
df_data['数学'].mean()  #数学平均成绩

81.0

In [9]:
df_data['数学'].min()  #数学最小成绩

65

In [10]:
df_data['数学'].max()  #数学最大成绩

90

In [11]:
df_data['数学'].std()  #数学标准差

10.44030650891055

In [12]:
df_data['数学'].var()  #数学方差

109.0

In [13]:
df_data['英语'].mean()  #英语平均成绩

78.6

In [14]:
df_data['英语'].min()  #英语最小成绩

30

In [15]:
df_data['英语'].max()  #英语最大成绩

98

In [16]:
df_data['英语'].std()  #英语标准差

27.509998182479038

In [17]:
df_data['英语'].var()  #英语方差

756.8

In [18]:
df_data['总成绩']=df_data.sum(axis=1)
df_data

   姓名  语文  数学  英语  总成绩
0  张飞  68  65  30  163
1  关羽  95  76  98  269
2  刘备  98  86  88  272
3  典韦  90  88  87  265
4  许褚  80  90  90  260

In [19]:
df_data=df_data.sort_values(by='总成绩', ascending=False, ignore_index=True)
df_data['名次']=[1,2,3,4,5]
df_data

   姓名  语文  数学  英语  总成绩  名次
0  刘备  98  86  88  272   1
1  关羽  95  76  98  269   2
2  典韦  90  88  87  265   3
3  许褚  80  90  90  260   4
4  张飞  68  65  30  163   5